@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*===============================
             Header 
=================================*/
.top-fixed .navbar{
    background-color: #4a4f53;
}

.navbar .nav-item a {
    color: #ffffff;
}

.navbar .nav-item .dropdown-item {
    color: #4a4f53;
}


.top-fixed .navbar-nav .nav-link{
   margin: 15px 10px;
}

.container{
    margin: 10px 10px;
}